body {
    background-color: #e6e6ff;
}

#board {
    font-size: 0;
    margin-top: 0;
    padding: 0;
}

#header {
    text-align: center;
    color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.piece {
    position: absolute;
}

#rand {
    background: rgb(100, 150, 200);
    color: rgb(250, 250, 0);
    margin-top: 20px;
    width: 100%;
    font-size: 1.5vw;
}